<!DOCTYPE html>
<html>

<head>
    <link rel="shortcut icon" href="/resources/logik.png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <script src="/encrypter.js"></script>
</head>

<body>
    <button id="send" onclick="sendMessage();">send</button>
    <script src="/test.js"></script>
</body>

</html>